.articles {
    &__wrapp {
        display: flex;
        justify-content: space-between;
    }
    &-main {
        max-width: 600px;
        &__wrapp {
            position: relative;
        }
        &__line {
            &::before {
                content: '';
                width: 590px;
                height: 1px;
                display: block;
                background-color: #A5A5A5;
                position: absolute;
                top: 805px;
                left: 5px;
            }
        }
        &__link {
            display: block;
            margin-bottom: 180px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__img {
            max-width: 600px;
            border-radius: 22px;
            overflow: hidden;
            margin-bottom: 20px;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        &__desc {
            font-size: 16px;
            font-weight: 400;
            line-height: 185%;
            color: #fff;
            display: flex;
            align-items: center;
            column-gap: 20px;
            margin-bottom: 20px;
        }
        &__name {
            font-size: 16px;
            font-weight: 400;
            line-height: 185%;
            background-color: #2351F5;
            display: inline-block;
            color: #fff;
            padding: 10px 30px;
        }
        &__title {
            font-weight: 600;
            margin-bottom: 30px;
        }
        &__text {
            margin-bottom: 40px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &-minor {
        &__item {
            display: grid;
            grid-template: auto auto/auto auto;
            max-width: 600px;
            column-gap: 20px;
            margin-bottom: 60px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__img {
            width: 195px;
            border-radius: 22px;
            overflow: hidden;
            grid-row: 1/3;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        &__desc {
            font-size: 14px;
            font-weight: 400;
            line-height: 185%;
            color: #fff;
            display: flex;
            align-items: center;
            column-gap: 25px;
            margin-bottom: 20px;
            grid-row: 1/2;
        }
        &__name {
            padding: 7px 25px;
        }
        &__title {
            font-size: 23px;
            font-weight: 600;
        }
        &_a {
            .articles-minor__name {
                background-color: #FF8484;
            }
        }
        &_w {
            .articles-minor__name {
                background: #2351F5;
            }
        }
        &_e {
            .articles-minor__name {
                background: #FF7C32;
            }
        }
        &_r {
            .articles-minor__name {
                background: #2351F5;
            }
        }
        &_t {
            .articles-minor__name {
                background: #23A54F;
            }
        }
        &_y {
            .articles-minor__name {
                background: #2351F5;
            }
        }
        &_u {
            .articles-minor__name {
                background: #9921C3;
            }
        }
    }
}

@media (max-width: 1400px) {
    .articles-main__link {
        /* max-width: 400px; */
    }
    .articles-minor__item {
        max-width: 540px;
    }
}

@media (max-width: 1200px) {
    .articles-main__link {
        max-width: 500px;
    }
    .articles-minor__item {
        max-width: 435px;
    }
    .articles-main__line::before {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .articles__wrapp {
        flex-direction: column;
        align-items: center;
    }
    .articles-main__wrapp {
        margin-bottom: 100px;
    }
    .articles-main__link {
        max-width: 100%;
        margin-bottom: 100px;
    }
    .articles-main__line::before {
        display: none;
    }
    .articles-minor__item {
        max-width: 100%;
    }
}

@media (max-width: 576px) {
    .articles-main__title {
        font-size: 23px;
    } 
    .articles-main__text {
        font-size: 14px;
    }
    .articles-minor__img {
        width: 123px;
    }
    .articles-minor__desc {
        font-size: 12px;
    }
    .articles-minor__name {
        padding: 7px 13px;
    }
    .articles-minor__title {
        font-size: 13px;
    }
}