.promo {
    padding: 120px 90px 0 45px;
    &__wrapp {
        position: relative;
    }
    &__suptitle {
        color: $color-suptitile;
        font-size: 20px;
        font-weight: 700;
        line-height: 155%;
    }
    &__content {
        max-width: 450px;
    }
    &__suptitle {
        margin-bottom: 15px;
    }
    &__title {
        margin-bottom: 25px;
    }
    &__text {
        margin-bottom: 50px;
    }   
    &__img {
        position: absolute;
        top: -236px;
        right: -80px;
        z-index: 1;
    }
    &__icons {
        position: absolute;
    }
    &__icons-unity {
        top: 240px;
        right: 630px;
    }
    &__icons-cry {
        top: -20px;
        right: 450px;
    }
    &__icons-unreal {
        top: -5px;
        right: 175px;
    }
        
}

@media (max-width: 1400px) {
    .promo {
        &__img {
            right: -250px;
        }
        &__icons-unity {
            top: 240px;
            right: 445px;
        }
        &__icons-cry {
            top: -20px;
            right: 275px;
        }
        &__icons-unreal {
            top: -5px;
            right: 50px;
        }
    }
}

@media (max-width: 1200px) {
    .promo {
        &__img {
            right: -300px;
            top: -275px;
        }
        &__icons-unity {
            top: 230px;
            right: 395px;
        }
        &__icons-cry {
            top: -60px;
            right: 225px;
        }
        &__icons-unreal {
            top: -45px;
            right: 0px;
        }
    }
}

@media (max-width: 992px) {
    .promo {
        &__img {
            display: none;
        }
        &__icons-unity {
            display: none;
        }
        &__icons-cry {
            display: none;
        }
        &__icons-unreal {
            display: none;
        }

        &__content {
            margin: 0 auto;
        }
    }
}

@media (max-width: 576px) {
    .promo {
        padding: 80px 20px 0 20px;
        &__suptitle {
            font-size: 16px;
        }
        &__title {
            margin-bottom: 15px;
            font-size: 27px;
        }
    }
    
}