.promo {
    padding: 120px 90px 0 45px;
    &__wrapp {
        position: relative;
    }
    &__suptitle {
        color: $color-suptitile;
        font-size: 20px;
        font-weight: 700;
        line-height: 155%;
    }
    &__content {
        max-width: 450px;
    }
    &__suptitle {
        margin-bottom: 15px;
    }
    &__title {
        margin-bottom: 25px;
    }
    &__text {
        margin-bottom: 50px;
    }   
    &__img {
        position: absolute;
        top: -236px;
        right: -80px;
        z-index: 1;
    }
    &__icons {
        position: absolute;
    }
    &__icons-unity {
        top: 240px;
        right: 630px;
    }
    &__icons-cry {
        top: -20px;
        right: 450px;
    }
    &__icons-unreal {
        top: -5px;
        right: 175px;
    }
        
}