@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Medium.eot');
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url('Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Medium.woff2') format('woff2'),
        url('Roboto-Medium.woff') format('woff'),
        url('Roboto-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Manrope';
    src: url('Manrope-Medium.eot');
    src: local('Manrope Medium'), local('Manrope-Medium'),
        url('Manrope-Medium.eot?#iefix') format('embedded-opentype'),
        url('Manrope-Medium.woff2') format('woff2'),
        url('Manrope-Medium.woff') format('woff'),
        url('Manrope-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Manrope';
    src: url('Manrope-ExtraBold.eot');
    src: local('Manrope Extra Bold'), local('ExtraBold-Medium'),
        url('Manrope-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Manrope-ExtraBold.woff2') format('woff2'),
        url('Manrope-ExtraBold.woff') format('woff'),
        url('Manrope-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Manrope';
    src: url('Manrope-SemiBold.eot');
    src: local('Manrope Semi Bold'), local('SemiBold-Medium'),
        url('Manrope-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Manrope-SemiBold.woff2') format('woff2'),
        url('Manrope-SemiBold.woff') format('woff'),
        url('Manrope-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Manrope';
    src: url('Manrope-Bold.eot');
    src: local('Manrope Bold'), local('Bold-Medium'),
        url('Manrope-Bold.eot?#iefix') format('embedded-opentype'),
        url('Manrope-Bold.woff2') format('woff2'),
        url('Manrope-Bold.woff') format('woff'),
        url('Manrope-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
