@import "reset";
@import "vars";
@import "mixins";

@import "blocks-global/header";
@import "blocks-global/nav";
@import "blocks-global/buttons";
@import "blocks-global/typography";
@import "blocks-global/feedback";
@import "blocks-global/footer";

@import "blocks-home/promo";
@import "blocks-home/tranding";
@import "blocks-home/dev";
@import "blocks-home/platforms";
@import "blocks-home/projects";

@import "blocks-about/about-slide";
@import "blocks-about/work";
@import "blocks-about/avatar";
@import "blocks-about/team";

@import "blocks-services/workplace";
@import "blocks-services/video";
@import "blocks-services/pers";
@import "blocks-services/services-slide";

@import "blocks-news/page-title";
@import "blocks-news/articles";

@import "blocks-contacts/contacts";
@import "blocks-contacts/contacts-form";




/* --------------------GLOBAL-------------------- */

body {
    @include font(Pappins, 500);
    font-size: 16px;
}

.container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 15px;
}


.bg__wrapp {
    overflow: hidden;
    &_home {
        background: $color-bg-main;
        position: relative;
    }
    &_about {
        background: linear-gradient(177deg, #010101 0%, #1A0E01 100%);
    }
    &_services {
        background: linear-gradient(177deg, #010101 0%, #1A0E01 100%);
    }
    &_news {
        background: linear-gradient(161deg, #050301 0%, #150C01 100%);
    }
    &_contact {
        background: linear-gradient(162deg, #090501 0%, #120A01 100%);
    }
}