@import "reset";
@import "vars";
@import "mixins";

@import "blocks/header";
@import "blocks/nav";
@import "blocks/buttons";
@import "blocks/typography";
@import "blocks/promo";
@import "blocks/tranding";
@import "blocks/dev";

/* --------------------GLOBAL-------------------- */

body {
    @include font(Pappins, 500);
    font-size: 16px;
}

.container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 15px;
}


.main {
    background: $color-bg-main;
}