/* =================  GLOBAL  ================= */
/* =================  GLOBAL  ================= */

.body {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
}
.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}
.container {
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 15px;
}

.main-btn {
    font-weight: 600;
    line-height: 1.7;
    font-size: 1.125rem;
    background-color: #ff6333;
    border-radius: 12px;
    color: #fff;
    padding: 16px 40px;
    font-size: 18px;

}

.main-btn:hover {
    background-color: #ce4f28;
    transition: all .3s ease;
}

.title {
    font-size: 64px;
    font-weight: 800;
    line-height: 84px;
}

.title__center {
    text-align: center;
}

/* =================  PROMO  ================= */
/* =================  PROMO  ================= */

.promo {
    padding: 80px 0 135px;
    font-weight: 600;
}


.header__wrapp {
    display: flex;
    align-items: center;
    justify-content: end;
    font-weight: 600;
    padding: 18px 0 16px;
}

.logo:hover {
    transform: scale(1.1);
    transition: all .3s ease;
}

.logo_r {
    margin-right: auto;
}

.header__nav-menu {
    display: flex;
    border-right: 1px solid rgba(147, 145, 145, .3);
    line-height: 42px;
}

.header__nav-item {
    margin-right: 40px;
}

.header__nav-item:last-child {
    margin-right: 32px;
}

.header__nav-item:hover {
    color: #FF6433;
    transition: all .3s ease;
}

.header__contacts {
    display: grid;
    grid-template: auto auto / 40px 1fr;
    column-gap: 14px;
    margin-left: 32px;
}

.header__contacts-img {
    grid-row: span 2;
}

.header__contacts-tel:hover {
    color: #FF6433;
    transition: all .3s ease;
}

.header__contacts-desc {
    font-weight: 500;
    opacity: .7;
}

.header__contacts-tel {
    font-size: 18px;
}

.promo__body-wrapp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo__title {
    margin-bottom: 32px;
    max-width: 620px;
}

.promo__buttons {
    display: flex;
    align-items: center;
    margin-bottom: 48px;
    justify-content: center;
}

.promo__btn {
    margin-right: 80px;
}

.promo__video {
    position: relative;
}

.promo__video::before {
    content: '';
    width: 24px;
    height: 24px;
    display: block;
    background-image: url(icons/header/Play.svg);
    position: absolute;
    left: -32px;
    top: 50%;
    transform: translateY(-50%);
}

.promo__video:hover {
    transform: translateY(-5px);
    transition: all .3s ease
}

.promo__timetable {
    display: grid;
    grid-template: auto auto / auto 1fr;
    column-gap: 13px
}

.promo__timetable_icon {
    grid-row: span 2;
    align-self: center;
}

.promo__timetable_desc {
    font-weight: 500;
    line-height: 24px;
    color: #939191;
}

.promo__timetable_text {
    font-size: 18px;
    font-weight: 600;
    line-height: 175%;
}

.promo__images-elem {
    padding: 15px 35px 15px 13px;
    border-radius: 59px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff
}

.promo__images-elem:hover {
    cursor: pointer;
    box-shadow: 0 0 0 15px rgba(225, 225, 225, 0.43);
    transition: all .3s ease;
}

.promo__images {
    position: relative;
}

.promo__images-hr {
    width: 70px;
    height: 70px;
    background-color: #5CBA99;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin-right: 14px;
}

.promo__images-hr span {
    font-size: 24px;
    transform: translateY(-3px);
    margin-right: 3px;
}

.promo__images-text {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}

.promo__images-elem_up {
    position: absolute;
    top: 74px;
    left: -35px;
}

.promo__images-rat {
    opacity: .7;
    margin-right: 15px;
}

.promo__images-rat span {
    font-size: 24px;
    line-height: 36px;
    display: block;
    color: black;
}

.promo__images-elem_down {
    position: absolute;
    top: 481px;
    left: 342px;
    padding: 24px 32px 
}


/* =================  OFFER  ================= */
/* =================  OFFER  ================= */

.offer {
    padding: 128px 0;
    background-color: #F2F2F2;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}


.offer__title-desc {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
}
.offer__title {
    max-width: 890px;
    margin: 0 auto 64px;
    font-size: 58px;
    line-height: 76px;

}

.offer__block {
    display: grid;
    grid-template: repeat(2, 232px) / repeat(4, 316px);
    gap: 8px;
    justify-content: center;
    margin-bottom: 32px;
}

.offer__block-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    cursor: pointer;
}

.offer__block-item:hover{
    background-color: #ff6333;
    transition: all .3s ease;
    color: #fff;
}

.offer__block-icons {
    margin-bottom: 20px;
}

.offer__more {
    display: flex;
    justify-content: end;
    align-items: center;
}

.offer__more img{
    display: inline-block;
    margin-left: 16px;
}

@keyframes arrow-right {

    50% {
        transform: translate(10px);
    }

    100% {
        transform: translate(0px)
    }
}

.offer__more:hover {
    color: #ff6333;
    transition: all .3s ease;
}

.offer__more:hover img {
    animation: arrow-right 3s infinite;
}

/* =================  FOLLOW  ================= */
/* =================  FOLLOW  ================= */

.follow {
    padding: 134px;
    font-weight: 700;
    line-height: 48px;
}

.follow__wrapp {
    display: flex;
    justify-content: flex-start;
    align-items: start;
}
.follow__content {
    margin-right: 225px;
}

.follow__item {
    max-width: 350px;
   /*  padding-left: 60px; */
}

.follow__title {
    font-size: 58px;
    line-height: 76px;
    max-width: 555px;
    margin-bottom: 16px;
}

.follow__text {
    font-weight: 600;
    line-height: 28px;
    opacity: .6;
    max-width: 445px;
    margin-bottom: 32px;
}

.follow__item-title {
    margin-bottom: 8px;
    position: relative;
    font-size: 32px;
}

.follow__item-title::before {
    content: '';
    width: 72px;
    height: 72px;
    position: absolute;
    top: -10px;
    left: -96px;
    display: block;
}

.follow__item-title_1::before {
    background-image: url('icons/follow/icons-1.png');
}
.follow__item-title_2::before {
    background-image: url('icons/follow/icons-2.png');
}
.follow__item-title_3::before {
    background-image: url('icons/follow/icons-3.png');
}

.follow__item-text {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.75;
    opacity: .6;
    margin-bottom: 30px;
    max-width: 340px;
    position: relative;
}

.follow__item-text::before {
    content: '';
    display: block;
    width: 1px;
    height: 71px;
    border-left: 2px dotted #ff6333;
    line-height: 1;
    position: absolute;
    top: 16px;
    left: -60px;
}

.follow__item:last-child .follow__item-text::before {
    display: none;
}

/* =================  GET  ================= */
/* =================  GET  ================= */

.get {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.4;
    height: 500px;
    /* background-image: url('img/contact/Image-1.jpg'), url('img/contact/image-2.jpg');
    background-position: left top, right top;
    background-repeat: no-repeat, repeat;
    background-size: 50%, 50%; */
    position: relative;
}

.get::before {
    content: '';
    display: block;
    width: 50%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
    background: url('img/contact/Image-1.jpg') center center/cover no-repeat;
    z-index: -1
}
.get::after {
    content: '';
    display: block;
    width: 50%;
    height: 100%;
    position:absolute;
    top: 0;
    right: 0;
    background: url('img/contact/image-2.jpg') center center/cover no-repeat;
    z-index: -1
}

.get__content {
    max-width: 720px;
    height: 500px;
    padding: 128px 0;
    background-color: #ff6333;
    padding-left: 80px;
    z-index: 1;
}

.get__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.4;
    color: #fff;
    text-align: left;
    margin-bottom: 48px;
}

.get__btn {
    background-color: black;
    cursor: pointer;
}

.get__btn:hover {
    background-color: rgb(46, 44, 44);
    transition: all .3s ease;

}

/* =================  NUMBERS  ================= */
/* =================  NUMBERS  ================= */

.numbers {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    opacity: .7;
    padding: 48px 0;
}

.numbers__menu {
    display: flex;
    justify-content: space-between;
}

.numbers__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.numbers__number {
    font-size: 58px;
    font-weight: 800;
    line-height: 76px;
    color: #661CE7;
}

/* =================  BRANDS  ================= */
/* =================  BRANDS  ================= */

.brands {
    background: #E2E6E9;
    padding: 128px 0 80px;
}

.brands__title {
    font-size: 64px;
    line-height: 84px;
    text-align: center;
}

.brands__block {
    display: grid;
    grid-template: repeat(5, auto) / repeat(5, auto);
}

/* =================  BLOG  ================= */
/* =================  BLOG  ================= */

.blog {
    padding: 130px 0 ;
    font-weight: 600;
    line-height: 28px;
}

.blog__title {
    font-size: 58px;
    line-height: 76px;
    margin-bottom: 47px;
}

.blog__btn {
    margin-bottom: 46px;
}

.blog__btn {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    background-color: transparent;
    margin-right: 30px;
}

.blog__btn:hover {
    color: #ff6333;
    transition: all .3s ease;
}

.blog__items {
    display: grid;
    justify-content: space-between;
    grid-template: repeat(2, auto) / repeat(3, 405px);
    grid-gap: 60px 30px
}

.blog__item img {
    width: 100%;
    max-height: 270px;
    object-fit: cover;
    margin-bottom: 24px;
}

.blog__time-post {
    font-weight: 600;
    line-height: 28px;
    color: #939191;
    margin-bottom: 16px;
}

.blog__subt {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 16px;
}

/* =================  CUSTOMERS  ================= */
/* =================  CUSTOMERS  ================= */

.customers {
    padding: 128px 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    background-color: #F2F2F2;
}

.customers__carousel-block {
    padding: 72px;
    height: 380px;
    width: 615px;
    background-color: #fff;
    border-radius: 6px;
}

.customers__carousel .slick-list {
    margin: 0 -10px;
}
.slick-slide {
    margin: 0 20px;
}

.customers {
    position: relative;
}

.customers__title {
    font-size: 58px;
    font-weight: 800;
    line-height: 76px;
    text-align: center;
    max-width: 900px;
    margin: 0 auto 76px;

}

.customers .slick-dots{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.customers .slick-dots li{
    margin: 0 10px;
    width: 40px;
    height: 4px;
    background-color: #939191;

}

.customers .slick-dots li button{
    font-size: 0;
    padding: 0;
}

.customers .slick-dots li.slick-active{
    background-color: #FF6433;
}


.customers__carousel-item {
    display: grid;
    grid-template: repeat(2, auto)/ 64px auto; 
    column-gap: 16px;
    margin-bottom: 25px;
}

.customers__carousel-item img {
    grid-row: span 2;
}

.customers__carousel-name {
    font-size: 24px;
    line-height: 36px;
}

.customers__carousel-city {
    font-size: 16px;
    line-height: 28px;
    color: #939191;
}

.customers__carousel-arrows {
    display: flex;
    position: absolute;
    right: 50%;
    bottom: 74px;
    transform: translateX(650px);
    z-index: 2;
}

.customers__carousel-arrow {
    margin-right: 25px;
    cursor: pointer;
    position: relative;
    display: block;
    z-index: 2;
}

.customers__carousel-arrow::before {
    content: '';
    display: block;
    width: 62px;
    height: 62px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    transition: all .3s ease;
    z-index: -1;
}

.customers__carousel-arrow:hover  path{
    fill: #fff;
    z-index: 2;
}

.customers__carousel-arrow:hover::before{
    transform: translate(-50%, -50%) scale(1);
}
.customers__carousel-arrow:last-child {
    margin-right: 0;
}

/* =================  QUESTIONS  ================= */
/* =================  QUESTIONS  ================= */

.questions {
    padding: 128px 0;
    background-color: #E2E6E9;
    
}

.questions__title {
    font-size: 58px;
    font-weight: 800;
    line-height: 76px;
    margin-bottom: 85px;
    text-align: center;
}

.questions__acc-item {
    background-color: #fff;
    padding: 40px;
    display: block;
    max-width: 900px;
    margin: 0 auto 12px;
    position: relative;
}

.questions__acc-item::before,
.questions__acc-item::after{
    content: '';
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 2px;
    background-color: #fff;
    position: absolute;
    top: 56px;
    right: 52px;
    z-index: 2;
    transition: all .3s ease;
}

.questions__acc-item::after {
    transform: rotate(90deg);
}

.questions__acc-item--active.questions__acc-item::after {
    transform: rotate(0deg);
    transition: all .3s ease;
}


.questions__square {
    width: 50px;
    height: 50px;
    background-color: #ff6333;
    position: absolute;
    top: 32px;
    right: 40px;
}

.questions__acc-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    padding-right: 110px;
}

.questions__acc-text {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.75;
    color: #939191;
    padding-right: 110px;
    margin-top: 10px;
    /* display: none; */
    transition: all .3 ease;
}

.questions__acc-item--active .questions__acc-text {
    display: block;
}

/* =================  EXPERTS  ================= */
/* =================  EXPERTS  ================= */

.experts {
    padding: 120px 0 520px 0;
    font-style: normal;
}

.experts__title {
    margin-bottom: 48px;
    max-width: 520px;
}

.experts__inner {
    display: flex;
    justify-content: space-between;
}

.experts__form > *{
    display: block;
}

.experts__input {
    width: 600px;
    height: 70px;
    background-color: #F2F2F2;
    border-radius: 2px;
    margin-bottom: 4px;
    font-weight: 600;
    line-height: 28px;
    padding: 20px 40px;
}

.experts__input::placeholder {
    color: black;
}

.experts__input:nth-child(4) {
    margin-bottom: 48px;
}

.experts__contact-sub {
    line-height: 28px;
    opacity: .7;
    margin-bottom: 2px;
}

.experts__contact {
    margin-bottom: 32px;
}

.experts__contact:last-child {
    margin-bottom: 0;
}

.experts__contact-text {
    font-size: 24px;
    line-height: 36px;
}

/* =================  EXPERTS  ================= */
/* =================  EXPERTS  ================= */

.map {
    position: relative;
}

.map__box {
    width: 1280px;
    height: 500px;
    position: absolute;
    top: -330px;
    left: 50%;
    transform: translateX(-50%);
}

.map__image {
    height: 450px;
    background: url('img/footer/Image.jpg') center center/cover no-repeat;
}


/* =================  FOOTER  ================= */
/* =================  FOOTER  ================= */
.footer__top {
    padding: 130px 0;
    background-color: #222020;
    color: #fff;
}

.footer__top-wrap {
    display: flex;
    justify-content: space-between;
}

.footer__top-head,
.footer__top-contacts {
    width: 100%;
}

.footer__top-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 64px;
}

.footer__top-socials {
    display: flex;
}

.footer__top-icons {
    margin-right: 24px;
    
}

.footer__top-icons svg path {
    transition: all .3s ease;
}

.footer__top-icons:hover svg path {
    fill: #ff6333;
}

.footer__contact-sub {
    line-height: 28px;
    opacity: .7;
    margin-bottom: 2px;
}

.footer__contact {
    margin-bottom: 32px;
}

.footer__contact:last-child {
    margin-bottom: 0;
}

.footer__contact-text {
    font-size: 24px;
    line-height: 36px;
}

.footer__bottom {
    background-color: #1E1B1B;
    color: #fff;
}

.footer__bottom-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 65px 0;
}

.footer__bottom-logo {
    transition: all .3s ease;
}
.footer__bottom-logo:hover {
    transform: scale(1.1);
}

.footer__bottom-menu {
    display: flex;
}

.footer__bottom-item {
    margin-right: 35px;
    font-weight: 600;
    line-height: 28px;
    transition: all .3s ease;
}
.footer__bottom-item:hover {
    color: #ff6333;
}

.footer__bottom-item:last-child {
    margin-right: 0;
}

.footer__bottom-copy {
    font-weight: 600;
    line-height: 28px;
    color: #939191;
}

/* =================  MEDIA  ================= */
/* =================  MEDIA  ================= */


/* ************************ MAX_WIDTH 1400 ************************ */

/* ------------------------------- MEDIA GLOBAL ------------------------------- */

@media (max-width: 1400px) {
    .main-btn {
        font-size: 15px;
    
    }
    
    /* ------------------------------- MEDIA PROMO ------------------------------- */
    
    .promo__title {
        font-size: 52px;
    }
    
    .promo__images-text {
        font-size: 18px;
    }
    
    .promo__images-hr {
        width: 60px;
        height: 60px;
    }
    
    .promo__images-rat span {
        font-size: 18px;
        line-height: 22px;
    }
    
    .promo__images-rat {
        font-size: 14px;
    }

    /* ------------------------------- MEDIA CUSTOMERS ------------------------------- */

    .customers__carousel-block {
        height: auto;
    }
    .customers__carousel-arrows {
        right: 25px;
        transform: none;
    }
     
    
}

/* ************************ MAX_WIDTH 1200 ************************ */

@media (max-width: 1200px) {
    /* ------------------------------- MEDIA GLOBAL ------------------------------- */

.main-btn {
    font-size: 13px;

}

/* ------------------------------- MEDIA PROMO ------------------------------- */

.promo {
    padding: 20px 0 0;
}

.promo__body-wrapp {
    align-items: flex-start;
}

.promo__title {
    font-size: 40px;
    line-height: 52px;
    max-width: 500px
}

.promo__timetable_desc {
    font-size: 14px;
}

.promo__timetable_text {
    font-size: 16px;
}

.promo__body-wrapp {
    position: relative;
}

.promo__images {
    max-width: 350px;
    position: static;
}

.promo__images-elem {
    border: 1px solid black
}

.promo__images-elem_up {
    bottom: 100px;
    left: 0;
    top: auto;

}

.promo__images-elem_down {
    bottom: 100px;
    left: 275px;
    top: auto;
}

.promo__images-hr {
    width: 50px;
    height: 50px;
    font-size: 18px;
}

.promo__images-hr span {
    font-size: 18px;
    display: block;
    margin-top: 7px;
}

/* ------------------------------- MEDIA OFFER ------------------------------- */
.offer {
    padding: 50px 0;
}
.offer__block {
    grid-template: repeat(2, auto) / repeat(4, auto);
}

.offer__block-item {
    padding: 30px;
}

/* ------------------------------- MEDIA FOLLOW ------------------------------- */

.follow {
    padding: 75px;
 }

 .follow__content {
    margin-right: 150px;
 }

 .follow__title {
    font-size: 44px;
    line-height: 59px;
 }

 /* ------------------------------- MEDIA NUMBERS ------------------------------- */

 .brands__block {
    grid-template: repeat(5, auto) / repeat(4, auto);
 }

 /* ------------------------------- MEDIA BLOG ------------------------------- */

 .blog__title {
    text-align: center;
 }

 .blog__btns {
    text-align: center;
 }

 .blog__items {
    justify-content: space-around;
    grid-template: repeat(2, auto) / repeat(2, 405px);
}

/* ------------------------------- MEDIA CUSTOMERS ------------------------------- */

    .customers__carousel-block {
        height: auto;
    }
    

}



/* ************************ MAX_WIDTH 992 ************************ */

/* ------------------------------- MEDIA HEADER ------------------------------- */


@media (max-width: 992px) {
    .header {
        position: fixed;
        z-index: 100;
        top: 0;
        bottom: 0;
        left: -100%;
        transition: all .3s ease;
    }

    .header_active {
        display: block;
        left: 0;
    }

    .header__wrapp {
        background-color: #fff;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-width: 320px;
        height: 100vh;
        padding: 40px 0;
        transition: all .3s ease;
        margin: 0 -15px;
    }

    .logo_r {
        margin: 0 auto;
    }

    .header__nav-menu {
        flex-direction: column;
        border-right: none;
    }

    .header__nav-item {
        margin: 10px auto;
    }

    .header__nav-item:last-child {
        margin: 0 auto;
    }

    .burger {
        width: 55px;
        height: 55px;     
        position: fixed;
        top: 25px;
        right: 25px;
        z-index: 150;
        transition: all .3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    .burger_follow {
        background-color: #fff;
        border-radius: 50%;

        box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    }
    .burger span {
        display: block;
        width: 35px;
        height: 4px;
        background-color: black;
        border-radius: 2px;
        position: relative;
        
    }
    .burger span::before,
    .burger span::after {
        content: '';
        display: block;
        width: 35px;
        height: 4px;
        background-color: black;
        border-radius: 2px;
        position: absolute;
        top: 8px;
        transition: all .3s ease;
    }

    .burger span::after {
        top: -8px;
    }

    .burger_active span {
        background-color: #fff;
    }
    .burger_active span::before {
        transform: rotate(45deg);
        top: 0px;
    }
    .burger_active span::after {
        transform: rotate(135deg);
        top: 0px;
    }

    /* ------------------------------- MEDIA PROMO ------------------------------- */

    .promo {
        padding: 80px 0 100px
    }

    .promo__images img {
        display: none;
    }

    .promo__body-wrapp {
        justify-content: center;
    }

    

    .promo__images-elem_up {
        display: none; 

    
    }
    
    .promo__images-elem_down {
        display: none; 

    }

    /* ------------------------------- MEDIA OFFER ------------------------------- */
    .offer {
        font-size: 22px;
    }
    .offer__title {
        font-size: 44px;
    }
    .offer__block {
        grid-template: repeat(4, auto) / repeat(2, 1fr);
    }

    /* ------------------------------- MEDIA FOLLOW ------------------------------- */

    .follow {
        padding: 75px 0 75px 10px;
    }

    .follow__wrapp {
        align-items: center;
        flex-direction: column;
    }

    .follow__content {
        margin-bottom: 50px;
    }

    .follow__table {
        /* padding-left: 55px; */
    }

    /* ------------------------------- MEDIA GET ------------------------------- */

    .get .container {
        max-width: 100%;
        padding: 0;
    }

    .get__content {
        max-width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .get__btn {
        max-width: 120px;
        font-size: 12px;
        padding: 14px 24px;
    }

    /* ------------------------------- MEDIA NUMBER ------------------------------- */
    .numbers {
        font-size: inherit;
    }
    .numbers__number {
        font-size: 49px;
    }

    .numbers__menu {
        justify-content: space-evenly;
    }

    /* ------------------------------- MEDIA NUMBERS ------------------------------- */

    .brands__block {
        grid-template: repeat(5, auto) / repeat(2, auto);
    }

    /* ------------------------------- MEDIA BLOG ------------------------------- */

    .blog {
        padding: 50px 0;
    }

    .blog__items {
        grid-template: repeat(2, auto) / 405px;
    }

    /* ------------------------------- MEDIA CUSTOMERS ------------------------------- */


    .customers__carousel-arrows {
        display: none;
    }



    }

/* ************************ MAX_WIDTH 576 ************************ */

@media (max-width: 576px) {

/* ------------------------------- MEDIA GLOBAL ------------------------------- */
    .main-btn {
        font-size: 12px;
        padding: 14px 24px;
    }

/* ------------------------------- MEDIA PROMO ------------------------------- */
    .promo {
        padding: 80px 0 30px;
    }

    .promo__title {
        font-size: 35px;
        line-height: 36px;
    }

    .promo_buttons {
        font-size: 16px;
    }

    .promo__video::before {
        left: -29px;
    }

    .promo__timetable_desc {
        font-size: 12px;
        line-height: 13px;
    }

    .promo__timetable_text {
        font-size: 14px;
    }

    .promo__timetable {
        column-gap: 8px;
        grid-template: auto auto / auto auto;
        justify-content: center;
    }

    /* ------------------------------- MEDIA OFFER ------------------------------- */

    .offer {
        font-size: 20px;
    }

    .offer__title-desc {
        font-size: 20px;
    }

    .offer__title {
        font-size: 35px;
        line-height: 43px;
        margin: 0 auto 20px;
    }

    .offer__block {
        grid-template: repeat(4, auto) / 1fr;
    }

    /* ------------------------------- MEDIA FOLLOW ------------------------------- */

    .follow__content {
        margin-right: 0px;
    }

    .follow__title {
        font-size: 42px;
        line-height: 59px;
    }

    .follow__menu {
        padding-left: 86px;
    }

    .follow__item {
        max-width: 350px;
    }

    .follow__item-title {
        font-size: 26px;
        line-height: 30px;
    }

    .follow__item-title::before {
        width: 60px;
        height: 60px;
        line-height: 32px;
        top: 0;
        left: -90px;
    }

    .follow__item-title_1::before {
        background: url(icons/follow/icons-1.png) center center/cover no-repeat;
    }
    .follow__item-title_2::before {
        background: url(icons/follow/icons-2.png) center center/cover no-repeat;
    }
    .follow__item-title_3::before {
        background: url(icons/follow/icons-3.png) center center/cover no-repeat;
    }

    .follow__item-text {
        font-size: 16px;
    }

    .follow__item-text::before {
        height: 75px;
        top: 39px;
    }

    .follow__item:nth-child(2) .follow__item-text::before {
        top: 19px;
    }

    /* ------------------------------- MEDIA GET ------------------------------- */

    .get__title {
        font-size: 34px;
    }

    /* ------------------------------- MEDIA NUMBER ------------------------------- */

    .numbers__menu {
        flex-direction: column;
    }

    /* ------------------------------- MEDIA NUMBERS ------------------------------- */

    .brands {
        padding: 35px 0;
    }

    .brands__title {
        font-size: 52px;
    }

    .brands__block {
        grid-template: repeat(5, auto) / auto;
        justify-content: center;
    }

    /* ------------------------------- MEDIA BLOG ------------------------------- */

    .blog__items {
        grid-template: repeat(2, auto) / 310px;
    }

    /* ------------------------------- MEDIA CUSTOMERS ------------------------------- */

    .customers {
        padding: 40px 0;
    }

    .customers__title {
        font-size: 30px;
        line-height: 48px;
        margin: 0px auto 15px;
    }

    .customers__carousel-block {
        padding: 14px;
    }

    .customers__carousel-name {
        font-size: 18px;
    }

    .customers__carousel-city {
        font-size: 14px;
    }

    .customers__carousel-text {
        font-size: 16px;
    }

    /* ------------------------------- MEDIA CUSTOMERS ------------------------------- */

    .questions {
        padding: 50px 0;

    }

    .questions__title {
        font-size: 40px;
        line-height: 54px;
        margin-bottom: 22px;
    }

    .questions__square {
        top: 20px;
        right: 20px;
    }

    .questions__acc-item::before, .questions__acc-item::after {
        top: 45px;
        right: 33px;
    }

    .questions__acc-item {
        padding: 20px;
    }

    .questions__acc-title {
        font-size: 18px;
        line-height: 25px;
        padding-right: 70px;
    }

    .questions__acc-text {
        font-size: 16px;
        padding-right: 70px;
    }



}

    















