.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}
.container {
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 15px;
}

.main-btn {
    font-weight: 600;
    line-height: 1.7;
    font-size: 1.125rem;
    background-color: #ff6333;
    border-radius: 12px;
    color: #fff;
    padding: 16px 40px;
    font-size: 18px;

}

.main-btn:hover {
    background-color: #ce4f28;
    transition: all .3s ease;
}

.title {
    font-size: 64px;
    font-weight: 800;
    line-height: 84px;
}

.title__center {
    text-align: center;
}

/* ------------------ глобальные стили -------------------- */

.promo {
    padding: 80px 0 135px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
}


.header__wrapp {
    display: flex;
    align-items: center;
    justify-content: end;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    padding: 18px 0 16px;
}

.logo:hover {
    transform: scale(1.1);
    transition: all .3s ease;
}

.logo_r {
    margin-right: auto;
}

.header__nav-menu {
    display: flex;
    border-right: 1px solid rgba(147, 145, 145, .3);
    line-height: 42px;
}

.header__nav-item {
    margin-right: 40px;
}

.header__nav-item:last-child {
    margin-right: 32px;
}

.header__nav-item:hover {
    color: #FF6433;
    transition: all .3s ease;
}

.header__contacts {
    display: grid;
    grid-template: auto auto / 40px 1fr;
    column-gap: 14px;
    margin-left: 32px;
}

.header__contacts-img {
    grid-row: span 2;
}

.header__contacts-tel:hover {
    color: #FF6433;
    transition: all .3s ease;
}

.header__contacts-desc {
    font-weight: 500;
    opacity: .7;
}

.header__contacts-tel {
    font-size: 18px;
}

.promo__body-wrapp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo__title {
    margin-bottom: 32px;
}

.promo__buttons {
    display: flex;
    align-items: center;
    margin-bottom: 48px;
}

.promo__btn {
    margin-right: 80px;
}

.promo__video {
    position: relative;
}

.promo__video::before {
    content: '';
    width: 24px;
    height: 24px;
    display: block;
    background-image: url(icons/header/Play.svg);
    position: absolute;
    left: -32px;
    top: 50%;
    transform: translateY(-50%);
}

.promo__video:hover {
    transform: translateY(-5px);
    transition: all .3s ease
}

.promo__timetable {
    display: grid;
    grid-template: auto auto / auto 1fr;
    column-gap: 13px
}

.promo__timetable_icon {
    grid-row: span 2;
    align-self: center;
}

.promo__timetable_desc {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #939191;
}

.promo__timetable_text {
    font-size: 18px;
    font-weight: 600;
    line-height: 175%;
}

.promo__images-elem {
    padding: 15px 35px 15px 13px;
    border-radius: 59px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff
}

.promo__images-elem:hover {
    cursor: pointer;
    box-shadow: 0 0 0 15px rgba(225, 225, 225, 0.43);
    transition: all .3s ease;
}

.promo__images {
    position: relative;
}

.promo__images-hr {
    width: 70px;
    height: 70px;
    background-color: #5CBA99;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin-right: 14px;
}

.promo__images-hr span {
    font-size: 24px;
    transform: translateY(-3px);
    margin-right: 3px;
}

.promo__images-text {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}

.promo__images-elem_up {
    position: absolute;
    top: 74px;
    left: -35px;
}

.promo__images-rat {
    font-size: 16px;
    opacity: .7;
    margin-right: 15px;
}

.promo__images-rat span {
    font-size: 24px;
    line-height: 36px;
    display: block;
    color: black;
}

.promo__images-elem_down {
    position: absolute;
    top: 481px;
    left: 342px;
    padding: 24px 32px 
}

.offer {
    padding: 128px 0;
    background-color: #F2F2F2;
    font-family: "Manrope";
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}


.offer__title-desc {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
}
.offer__title {
    max-width: 890px;
    margin: 0 auto 64px;
    font-size: 58px;
    line-height: 76px;

}

.offer__block {
    display: grid;
    grid-template: repeat(2, 232px) / repeat(4, 316px);
    gap: 8px;
    justify-content: center;
    margin-bottom: 32px;
}

.offer__block-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    cursor: pointer;
}

.offer__block-item:hover{
    background-color: #ff6333;
    transition: all .3s ease;
    color: #fff;
}

.offer__block-icons {
    margin-bottom: 20px;
}

.offer__more {
    display: flex;
    justify-content: end;
    align-items: center;
}

.offer__more img{
    display: inline-block;
    margin-left: 16px;
}

@keyframes arrow-right {

    50% {
        transform: translate(10px);
    }

    100% {
        transform: translate(0px)
    }
}

.offer__more:hover {
    color: #ff6333;
    transition: all .3s ease;
}

.offer__more:hover img {
    animation: arrow-right 3s infinite;
}

.follow {
    padding: 134px;
    font-size: 32px;
    font-family: Manrope;
    font-weight: 700;
    line-height: 48px;
}

.follow__wrapp {
    display: flex;
    justify-content: center;
    align-items: start;
}
.follow__content {
    margin-right: 225px;
}

.follow__item {
    max-width: 350px;
   /*  padding-left: 60px; */
}

.follow__title {
    font-size: 58px;
    line-height: 76px;
    max-width: 555px;
    margin-bottom: 16px;
}

.follow__text {
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    opacity: .6;
    max-width: 445px;
    margin-bottom: 32px;
}

.follow__item-title {
    margin-bottom: 8px;
    position: relative;
}

.follow__item-title::before {
    content: '';
    width: 72px;
    height: 72px;
    position: absolute;
    top: -10px;
    left: -96px;
    display: block;
}

.follow__item-title_1::before {
    background-image: url('icons/follow/icons-1.png');
}
.follow__item-title_2::before {
    background-image: url('icons/follow/icons-2.png');
}
.follow__item-title_3::before {
    background-image: url('icons/follow/icons-3.png');
}

.follow__item-text {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.75;
    opacity: .6;
    margin-bottom: 30px;
    max-width: 340px;
    position: relative;
}

.follow__item-text::before {
    content: '';
    display: block;
    width: 1px;
    height: 71px;
    border-left: 2px dotted #ff6333;
    line-height: 1;
    position: absolute;
    top: 16px;
    left: -60px;
}

.follow__item:last-child .follow__item-text::before {
    display: none;
}

.get {
    font-size: 48px;
    font-weight: 700;
    font-family: 'Manrope';
    line-height: 1.4;
    height: 500px;
    /* background-image: url('img/contact/Image-1.jpg'), url('img/contact/image-2.jpg');
    background-position: left top, right top;
    background-repeat: no-repeat, repeat;
    background-size: 50%, 50%; */
    position: relative;
}

.get::before {
    content: '';
    display: block;
    width: 50%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
    background: url('img/contact/Image-1.jpg') center center/cover no-repeat;
    z-index: -1
}
.get::after {
    content: '';
    display: block;
    width: 50%;
    height: 100%;
    position:absolute;
    top: 0;
    right: 0;
    background: url('img/contact/image-2.jpg') center center/cover no-repeat;
    z-index: -1
}

.get__content {
    max-width: 720px;
    height: 500px;
    padding: 128px 0;
    background-color: #ff6333;
    padding-left: 80px;
    z-index: 1;
}

.get__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.4;
    color: #fff;
    text-align: left;
    margin-bottom: 48px;
}

.get__btn {
    background-color: black;
    cursor: pointer;
}

.get__btn:hover {
    background-color: rgb(46, 44, 44);
    transition: all .3s ease;

}

.numbers {
    font-size: 24px;
    font-family: Manrope;
    font-weight: 600;
    line-height: 36px;
    opacity: .7;
    padding: 48px 0;
}

.numbers__menu {
    display: flex;
    justify-content: space-between;
}

.numbers__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.numbers__number {
    font-size: 58px;
    font-weight: 800;
    line-height: 76px;
    color: #661CE7;
}

.brands {
    background: #E2E6E9;
    padding: 128px 0 80px;
}

.brands__title {
    font-size: 64px;
    font-family: Manrope;
    line-height: 84px;
    text-align: center;
}

.brands__block {
    display: grid;
    grid-template: repeat(5, auto) / repeat(5, auto);
}

.blog {
    padding: 130px 0 ;
    font-size: 16px;
    font-family: Manrope;
    font-weight: 600;
    line-height: 28px;
}

.blog__title {
    font-size: 58px;
    line-height: 76px;
    margin-bottom: 47px;
}

.blog__btn {
    margin-bottom: 46px;
}

.blog__btn {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    background-color: transparent;
    margin-right: 30px;
}

.blog__btn:hover {
    color: #ff6333;
    transition: all .3s ease;
}

.blog__items {
    display: grid;
    justify-content: space-between;
    grid-template: repeat(2, auto) / repeat(3, 405px);
    grid-gap: 60px 30px
}

.blog__item img {
    width: 100%;
    max-height: 270px;
    object-fit: cover;
    margin-bottom: 24px;
}

.blog__time-post {
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    color: #939191;
    margin-bottom: 16px;
}

.blog__subt {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 16px;
}


.customers {
    padding: 128px 0;
    font-size: 24px;
    font-family: Manrope;
    font-weight: 600;
    line-height: 36px;
    background-color: #F2F2F2;
}

.customers__carousel-block {
    padding: 72px;
    height: 380px;
    width: 615px;
    background-color: #fff;
    border-radius: 6px;
}

.customers__carousel .slick-list {
    margin: 0 -10px;
}
.slick-slide {
    margin: 0 20px;
}

.customers {
    position: relative;
}

.customers__title {
    font-size: 58px;
    font-weight: 800;
    line-height: 76px;
    text-align: center;
    max-width: 900px;
    margin: 0 auto 76px;

}

.customers .slick-dots{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.customers .slick-dots li{
    margin: 0 10px;
    width: 40px;
    height: 4px;
    background-color: #939191;

}

.customers .slick-dots li button{
    font-size: 0;
    padding: 0;
}

.customers .slick-dots li.slick-active{
    background-color: #FF6433;
}


.customers__carousel-item {
    display: grid;
    grid-template: repeat(2, auto)/ 64px auto; 
    column-gap: 16px;
    margin-bottom: 25px;
}

.customers__carousel-item img {
    grid-row: span 2;
}

.customers__carousel-name {
    font-size: 24px;
    line-height: 36px;
}

.customers__carousel-city {
    font-size: 16px;
    line-height: 28px;
    color: #939191;
}

.customers__carousel-arrows {
    display: flex;
    position: absolute;
    right: 50%;
    bottom: 74px;
    transform: translateX(650px);
    z-index: 2;
}

.customers__carousel-arrow {
    margin-right: 25px;
    cursor: pointer;
    position: relative;
    display: block;
    z-index: 2;
}

.customers__carousel-arrow::before {
    content: '';
    display: block;
    width: 62px;
    height: 62px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    transition: all .3s ease;
    z-index: -1;
}

.customers__carousel-arrow:hover  path{
    fill: #fff;
    z-index: 2;
}

.customers__carousel-arrow:hover::before{
    transform: translate(-50%, -50%) scale(1);
}
.customers__carousel-arrow:last-child {
    margin-right: 0;
}
















