.breadcrumbs {
    color: $color-main-tx;
    display: flex;
    justify-content: center;
    font-weight: 400;
    margin-bottom: 15px;
    list-style: none;
    li {
        margin-right: 5px;
    }
    &_active {
        color: $color-buttons;
    }
    a {
        &:hover {
            span {
                color: $color-buttons;
            }
            
        }
        span {
            @include transition;
        }
    }
    &_ta-l {
        justify-content: start;
    }
    
    
}

@media (max-width:992px) {
    .breadcrumbs {
        &_ta-l {
            justify-content: center;
        }
    }
}