.btn {
    color: $color-main-tx;
    
    &__main {
        display: block;
        cursor: pointer;
        background-color: $color-head-btn;
        border-radius: 6px;
        padding: 10px 25px;
    }
    &__oval {
        border-radius: 40px;
        padding: 15px 30px;
        background: $color-gradient-btn;
    }
    &__more {
        background-color: $color-buttons-dark;
        padding: 15px 30px;
        border-radius: 10px;
        text-transform: uppercase;
    }
    &__input {
        background-color: $color-buttons;
        padding: 10px 20px;
        border-radius: 8px;
    }
}
