.header {
    padding: 40px 0;
    &__wrapp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
        position: relative;
    }
    .nav__link {
        font-weight: 400;
        color: #fff;
        position: relative;
        &_active {
            &::after {
                content: '';
                width: 25px;
                height: 4px;
                border-radius: 20px;
                background-color: $color-buttons;
                position: absolute;
                bottom: -15px;
                left: 0;
                transform: translateX(-40%);
            }
            &::before {
                content: '';
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: $color-buttons;
                position: absolute;
                bottom: -15px;
                transform: translateX(464%);
            }
        }
    }
}

