.header {
    padding: 40px 50px 0 50px;
    &__wrapp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
        position: relative;
    }
    &__link {
        font-weight: 400;
        color: #fff;
    }
}

