$color-head-btn: #FA9021;
$color-main-tx: #fff;
$color-buttons: #DC7000;
$color-buttons-dark: rgba(255, 255, 255, 0.11);
$color-gradient-btn: linear-gradient(113deg, #FA8305 0%, #FB9E3C 100%);
$color-suptitile: #E87D0E;
$color-bread-crumbs: #E47500;


$color-bg-main: linear-gradient(180deg, #000 0%, #4A2800 100%);
$color-bg-block: #1C140F;
